{% extends 'base.html' %}

{% block title %} Zapisnici {% endblock %}

{% block content %}
{% if zapisnik_list %}
    <ul>
        {% for zapisnik in zapisnik_list %}
        <li class="zapisnik"><a href="{% url 'zapisnici:zapisnik' zapisnik.id %}">{{ zapisnik.zap_date }}</a>
            <p><strong> Prisutni: </strong> {{ zapisnik.prisutni|truncatewords_html:5|safe }} 
            <p><strong> Sadržaj: </strong>{{ zapisnik.zap_sadrzaj|truncatewords_html:40|safe }}</p>
       </li>
        {% endfor %}
    </ul>

        </br>
        <div class="pagination">
            <span class="page-links">
                {% if zapisnik_list.has_previous %}
                <a href="?page={{ zapisnik_list.previous_page_number }}"><<</a>
                {% endif %}
                <span class="page-current">
                     Stranica {{ zapisnik_list.number }} / {{ zapisnik_list.paginator.num_pages }}
                </span>
                {% if zapisnik_list.has_next %}
                <a href="?page={{ zapisnik_list.next_page_number }}">>></a>
                {% endif %}
            </span>
        </div>


{% else %}
    <p>Trenutno nema zapisnika.</p>
{% endif %}
{% endblock %}

    
