{% load staticfiles %}
<!DOCTYPE html>
<html>
        <head>
                <meta charset=utf-8">
                <meta name="description" content="Stranice računarske sekcije KSET-a">
                <title>{% block title %}comp.kset.org {% endblock %}</title>
                <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
                <link rel="icon" type="image/png" href="/media/images/favicon.png">
        </head>
        <body>
                <div id="user">
                        {% if user.is_authenticated %}
                        {{ user.username }} (<a href="{% url 'logout' %}?next={% firstof request.path '/' %}">logout</a>)
                        {% if user.is_superuser %}
                        <a href="{% url 'admin:index' %}"> admin panel </a>
                        {% endif %}
                        {% else %}
                        <a href="{% url 'login' %}?next={% firstof request.path '/' %}"> login </a>
                        {% endif %}
                </div>
                        

                <header id="header">
<pre>
                                                                     ===============
                            _             _                         ======== ========
                           | |           | |                        =======   =======  
  ___ ___  _ __ ___  _ __  | | _____  ___| |_   ___  _ __ __ _      =====       =====
 / __/ _ \| '_ ` _ \| '_ \ | |/ / __|/ _ \ __| / _ \| '__/ _` |     ====         ====  
| (_| (_) | | | | | | |_) ||   &lt;\__ \  __/ |_ | (_) | | | (_| |     ==             == 
 \___\___/|_| |_| |_| .__(_)_|\_\___/\___|\__(_)___/|_|  \__, |     =               =   
                    | |                                   __/ |     ======     ====== 
                    |_|                                  |___/      ======     ======  
                                                                    ======     ======       
                                                                     =====     =====



</pre>          
                </header>
                <div id="container">
                        <div id="content">
                                <nav id="menu">
                                        <ul>
                                                <a href='/'><li>127.0.0.1</li></a>
                                                <a href='/vijesti/'><li>vijesti</li></a>
                                                <a href='/zapisnici/'><li>zapisnici</li></a>
                                                <a href='/kontakt/'><li>kontakt</li></a>
                                        </ul>   
                                </nav>
                                <article id="article">
                                        {% block content %}
                                        {% endblock %}
                                </article>
                        </div>
                        <footer id="footer">
                                <a href="http://www.kset.org">KSET</a> - <b>K</b>lub <b>S</b>tudenata <b>E</b>lektro<b>T</b>ehnike
                                <br> comp@kset.org
                        </footer>
                </div>
        </body>
</html>
