
                                        <p>comp@kset.org:~$</p>
                                        <p>
                                        Računarska-sekcija KSET-a već 15+ godina održava i unapređuje računalnu
                                        infrastrukturu KSET-a te u suradnji s CARNetom putem live stream-a prenosi
                                        sva kulturna događanja u organizaciji KSET-a. Pri realizaciji svojih
                                        projekata sekcija se koristi otvorenim i besplatnim tehnologija.</p>
                                        <br>
                                        <p>
                                        Neki od najzahtjevnijih psihičkih i fizičkih poslova kojima se bavimo:</p>
                                        <br>
                                        <ul>
                                                <li>* Svi mogući (i nemogući) Linux sysadmin poslovi (ponekad i neki drugi
                                                OS-evi)</li>
                                                <li>* održavanje i nadogradnja računalne mreže u KSET-u</li>
                                                <li>* programiranje u svim mogućim programskim jezicima</li>
                                                <li>* konfiguriranje svih (ne)zamislivih deamona/servisa</li>
                                                <li>* stream-anje (u suradnji sa CARNet-om)</li>
                                                <li>* pružanje besplatnog web hosting-a (i mail-a) studentskim udrugama</li>
                                                <li>* wirelessiranje</li>
                                                <li>* krimpanje UTP-a svih dužina (po standardu!)</li>
                                                <li>* održavanje web stranica KSET-a</li>
                                                <li>* održavanje tečaja za nadobudne studente</li>
                                                <li>* održavanje dviju vještina na faksu</li>
                                                <li>* itd. itd. itd.</li>
                                        </ul>
                                        <br>
                                        <p>
                                        Sekcija broji oko 30ak članova/ica, skoro pa toliko računala pogonjenih
                                        GNU/Linuxom (Debianom, Ubuntu), *BSD-om i Windowsima, zatim par kilometara
                                        UTP-a,
                                        nekoliko SWITCH-eva, impozantni RACK...
                                        </p><br>
                                        <p>
                                        Ukoliko vam ijedan od navedenih pojmova izaziva smiješak na licu i pritom
                                        se želite dobro zabaviti te nešto novo naučiti, a k tome ste još i
                                        student(ica) slobodno nam se pridružite. Uvijek smo u potrazi za novim,
                                        perspektivnim članovima sa širokim poljem tehničkih interesa i željom za
                                        radom u sekcijskoj atmosferi(tm) pa ako ste student i pronalazite se u
                                        gornjem opisu dođite na sastanak petkom u 14h ili se javite mailom
                                        trenutnom voditelju sekcije (neektza --at-- kset.org).<img src="css/images/blinking-cursor.gif"/>
                                        </p>
