{% extends 'base.html' %}

{% block title %} News {% endblock %}

{% block content %}
{% if news_list %}
    <ul>
        {% for news in news_list %}
        <li class="news"><a href="{% url 'news:news' news.id %}"><h2>{{ news.title|truncatewords:"15"|safe }}</h2></a>
            <p><strong> {{ news.author|safe }}, {{ news.date }} </strong></p>
            <p><strong> </strong>{{ news.body|truncatewords:"40"|safe }}</p>
       </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        </br>
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"><<</a>
                {% endif %}
                <span class="page-current">
                     Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>></a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% else %}
    <p>Trenutno nema vijesti.</p>
{% endif %}
{% endblock %}

    
