{% if zapisnik_list %}
    <ul>
        {% for zapisnik in zapisnik_list %}
        <li><a href="{% url 'zapisnici:zapisnik' zapisnik.id %}">{{ zapisnik.zap_date }}</a></li>
            <p>{{ zapisnik.zap_sadrzaj }}</p>
        </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        </br>
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"><<</a>
                {% endif %}
                <span class="page-current">
                     Stranica {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>></a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% else %}
    <p>Trenutno nema zapisnika.</p>
{% endif %}

    
